.main
  .top
    .top__contents
      .top__contents__title
        %p 
          Cafe OFANA
      .top__contents__words
        %p 
          メニュー
        %p 
          営業時間
        %p 
          -# =link_to 'ご予約', reservations_path, class: "words"
        %p 
          インフォメーション
      .top__contents__address
        %p 
          〒192-8577 東京都
        %p 
          八王子市 丹木町1丁目236

        %p 
          TEL 050-0915-0902 


    .top__photo
      <img src="/topics/cafe2.jpg" alt=" " class="top__photo" />
      <img src="/topics/cafe1.jpg" alt=" " class="top__photo" />
